.root {
  height: 100vh;
}
/* Header styling */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.search-bar-container {
  position: relative;
}

.nav-item {
  margin-right: 20px;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.nav-item:hover {
  color: #0056b3;
}

.search-bar {
  flex: 1;
  max-width: 400px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  list-style: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.suggestion-item {
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #007bff;
  color: #fff;
}

/***** table******/
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  cursor: pointer;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Buttons Styling */
.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-top: 10px;
}

.pagination button, .util-button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.pagination button:hover, .util-button button:hover {
  background-color: #0056b3;
}

.pagination button:disabled, .util-button button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/******* dish-suggestions ******/
.util-button {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  right: 0px;
}
.dish-ingredients {
  cursor: pointer;
  width: fit-content;
  padding: 5px;
}